body {
	background-color: black;
    background-image: url('../images/bg.jpg'); 
    background-repeat: no-repeat;   
    color: white;
    text-shadow: 2px -2px 2px rgba(0,0,0,1);    
    position: relative;
}
.container {	   
    max-width: 100%;  
    margin: auto; 
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

#pretraga, #wiki {
	padding: 100px 50px 100px 100px;	
}

#rezultat {
    padding-top: 100px;
}

#title {
    margin-bottom: 20px;
    text-transform: capitalize;
}

label {
    display: block;
    margin-top: 20px;
}

input {
	width: 90%;
	border-radius: .25rem;
	border: 1px solid transparent;
}

#dugme {
    margin-top: 40px;
}

::placeholder {
	font-style: italic;
}
